<launch>

	<include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch" />
	
	<include file="$(find pr2_moveit_generated)/launch/move_group.launch"/>

	<node pkg="tf" type="static_transform_publisher" name="map_to_tilt" args="0 0 0 0 0 0 1 map base_laser_link 100" />

	<node name="motion_main" pkg="motion" type="main" output="screen"/>
	
</launch>
