<launch>
	<include file="$(find vision)/launch/vision_main_pr2_sim_only.launch"/>
	<include file="$(find kitchen_model_export)/launch/knowledge_export_service.launch"/>
	<include file="$(find pr2_moveit_generated)/launch/move_group.launch"/>

	<node pkg="gmapping" type="slam_gmapping" name="localization_node">
		<param name="scan" value="base_scan"/>
		<param name="odom_frame" value="odom_combined" />
	</node>

	<node pkg="amcl" type="amcl" name="localization_system">
		<param name="odom_frame_id" value="odom_combined"/>
	</node>

	<node name="motion_main" pkg="motion" type="main" output="screen"/>
	
</launch>
